<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='./public/stylesheet/style.css' />
	</head>
	<body>
		<h1><%= title %></h1>
		<div class='navbar'>
			<p>
				<a href='/'>Home</a>
				<a href='/fibonacci'>Fibonaccis Calculator</a>
			</p>
		</div>